body{
  margin: 0;
  padding: 0;
}
h1{
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-image: url('../assets/img/mejores\ pizzas\ italia.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Altura responsive */
  height: 40vh;
  /* 100% del viewport height */
  /* O usa min-height para que crezca si es necesario */
  min-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  /* Asegura que el contenedor sea flexible */
  width: 100%;
}

#pizzas-container{
display: grid;
grid-template-columns: repeat(4,1fr);

}

@media (max-width: 480px) {
  #pizzas-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
}

.pizza-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin: 5px;
}

.price-size{
  display: flex;
  justify-content: space-evenly;

}

